.env
.env.*
!.env.example
secrets.*
!.secrets.example

.DS_Store
Thumbs.db

.idea/
.vscode/

node_modules/
dist/
build/
artifacts/
.kaggle/

__pycache__/
*.py[cod]
.venv/
venv/

.pytest_cache/
.ruff_cache/
